.cell {
  position: absolute;
  background-color: transparent;
  border: 1px solid transparent;
}

.visited {
  background-color: dodgerblue;
}

.current {
  background-color: darkslateblue;
}

.top {
  border-top: 1px solid black;
}

.bottom {
  border-bottom: 1px solid black;
}

.right {
  border-right: 1px solid black;
}

.left {
  border-left: 1px solid black;
}
