body {
  background: linear-gradient(
    42deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(78, 22, 117, 1) 47%,
    rgba(0, 212, 255, 1) 100%
  );
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

#maze {
  position: fixed;
  width: 600px;
  height: 600px;
}

.cell {
  position: absolute;
  background-color: transparent;
  border: 1px solid transparent;
}

.visited {
  background: url(https://picsum.photos/600/600);
  background-size: 600px 600px;
}

.current {
  background: rgba(0, 0, 0, 0.5) url(https://picsum.photos/600/600);
  background-blend-mode: darken;
}

.top {
  border-top: 1px solid black;
}

.bottom {
  border-bottom: 1px solid black;
}

.right {
  border-right: 1px solid black;
}

.left {
  border-left: 1px solid black;
}
