.cell {
  position: fixed;
  background-color: cornflowerblue;
  border: 1px solid black;
}

.visited {
  background-color: dodgerblue;
}

.current {
  background-color: darkslateblue;
}

.no-top {
  border-top: none;
}

.no-bottom {
  border-bottom: none;
}

.no-right {
  border-right: none;
}

.no-left {
  border-left: none;
}
