.mazeContainer {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
}

.mazeCanvas {
  /* layered shadows tool: https://shadows.brumm.af/ */
  box-shadow: 0px 0px 1.7px rgba(0, 0, 0, 0.037),
    0px 0px 4.3px rgba(0, 0, 0, 0.052), 0px 0px 8.5px rgba(0, 0, 0, 0.064),
    0px 0px 15.7px rgba(0, 0, 0, 0.077), 0px 0px 29.7px rgba(0, 0, 0, 0.094),
    0px 0px 58px rgba(0, 0, 0, 0.13);
}

.buttonsContainer {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}
